---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

Next Release: <strong>Endogenous Revolutionary Threat</strong>

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}

      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2>
        <hr />
        {% assign title_shown = true %}
      {% endunless %}

      <h3>
        <a href="{% if post.paperurl %}{{ post.paperurl }}{% else %}{{ post.url | relative_url }}{% endif %}">
          {{ post.title }}
        </a>
      </h3>
      {% if post.excerpt %}
        <p>{{ post.excerpt }}</p>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    <h3>
      <a href="{% if post.paperurl %}{{ post.paperurl }}{% else %}{{ post.url | relative_url }}{% endif %}">
        {{ post.title }}
      </a>
    </h3>
    {% if post.excerpt %}
      <p>{{ post.excerpt }}</p>
    {% endif %}
  {% endfor %}
{% endif %}