{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h2 class="archive__item-title" itemprop="headline">
      {{ post.title | strip_html }}
    </h2>

    {% if post.authors %}
      <p class="archive__item-authors" itemprop="author">
        (with {{ post.authors }})
      </p>
    {% endif %}

    <p class="archive__item-meta">
      <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ post.date | date: "%B %Y" }}
      </time>
      {% if post.venue %} | <em itemprop="publisher">{{ post.venue }}</em>{% endif %}
      {% if post.paperurl %} | <a href="{{ post.paperurl }}" target="_blank" rel="noopener">PDF</a>{% endif %}
    </p>

    {% if post.content %}
      <div class="archive__item-excerpt">
        {{ post.content }}
      </div>
    {% endif %}

  </article>
</div>